{% extends "base.html" %}
            {% block content %}
            <div class="row-fluid">
                <h3>{{title|replace("os", "操作系统")|replace("technology", "Web技术")|replace("webserver", "Web服务器")|replace("front_libraries", "前端框架")|replace("web_apps", "Web程序")}}</h3>
                <hr>
            </div>
            <div class="row-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><strong>技术</strong></td>
                        <td><strong>类别</strong></td>
                        <td><strong>详细</strong></td>
                    </tr>
                    </thead>
                    <tbody id="detail">
                        {% for w in techs.items %}
                        <tr>
                            <td><a href="{{ url_for('show_tech', title = w.title) }}">{{ w.title }}</a></td>
                            <td><strong class="label label-info">{{w.category|replace("os", "操作系统")|replace("technology", "Web技术")|replace("webserver", "Web服务器")|replace("front_libraries", "前端框架")|replace("web_apps", "Web程序")}}</strong></td>
                            <td>
                                    {% if w.detail %}
                                    {{w.detail}}
                                    {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% macro render_pagination(pagination) %}
                  <div class="pagination pagination-right">
                    <ul>
                    {% if pagination.has_prev %}
                      <li><a href="{{ url_for('show_tech_category', category = title, page = pagination.page - 1) }}">&laquo; 前一页</a></li>
                    {% endif %}
                    {%- for page in pagination.iter_pages() %}
                      {% if page %}
                        {% if page != pagination.page %}
                          <li><a href="{{ url_for('show_tech_category', category = title, page = page) }}">{{ page }}</a>
                        {% else %}
                          <li class="active"><a><strong>{{ page }}</strong></a></li>
                        {% endif %}
                      {% else %}
                        <li><a><span class="ellipsis">…</span></a></li>
                      {% endif %}
                    {%- endfor %}
                    {% if pagination.has_next %}
                      <li><a href="{{ url_for('show_tech_category', category = title, page = pagination.page + 1) }}">后一页 &raquo;</a></li>
                    {% endif %}
                    </ul>
                  </div>
                {% endmacro %}
                {{ render_pagination(techs) }}
            </div>
            {% endblock %}